header {
  background-color: white;
  z-index: 1000;
  border-bottom: 3px solid $teal;
  margin-bottom: 40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  a {
    text-decoration: none;
  }
  a.header-img-container--home {
    max-width: 80vw;
    max-height: 40vh;
    margin: 10vh auto 5vh;
  }
  img {
    max-width:100%;
  max-height: 70px;
  }
  img.header-img--home {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
  }
  h1 {
    color: $orange;
    font-family: 'Acme', sans-serif;
    font-size: calc(42px + 6 * ((200vw - 320px) / 680));
    padding: 0 2% 2%;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
